.App {
  font-family: sans-serif;
  text-align: center;
}

.headerLinks {
  text-decoration: none;
  color: black;
  margin-right: 12px;
}

.headerLinks:hover {
  text-decoration: none;
  color: black;
}

.navbarBrand {
  color: black;
}

.navbarBrand:hover {
  text-decoration: none;
  color: black;
}

.headerSublinks {
  color: black;
}

.mandatoryFields {
  color: red;
}

h6 {
  font-style: italic;
}

.fa-globe-asia {
  animation-name: globeRound;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes globeRound {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signIn {
  margin-top: 10%;
}
